Repository ctotheameron/strategery: changes, and which Codecov flags are due for each by the changed paths.
All: app, server, shared

Fixing codecov report
  buildspec_pr.yml
Due: none

Pass NPM_TOKEN to docker container
  Dockerfile
  buildspec_build.yml
Due: none

Adds missing --build-arg flag
  buildspec_build.yml
Due: none

Copy .npmrc during docker build
  Dockerfile
Due: none

Improve NPM Install
  Dockerfile
  buildspec_pr.yml
  package-lock.json
  package.json
  src/app/webpack.config.ts
  src/app/webpack.dev.ts
  src/server/webpack.config.ts
Due: app, server

Re-adding ts-node to devDependencies
  package-lock.json
  package.json
Due: none

Relabeling codecov projects
  codecov.yml
Due: none

Adding streamline test:coverage script
  .codecov.yml
  buildspec_pr.yml
  package-lock.json
  package.json
Due: none

Fix display for mobile
  src/app/component/App.tsx
  src/app/component/Content.tsx
  src/app/component/Footer.tsx
  src/app/component/cards/Cards.tsx
  src/app/component/dice/Dice.tsx
  src/app/public/index.html
Due: app

iPhone X Layout Fix
  src/app/component/App.tsx
  src/app/component/Content.tsx
  src/app/public/index.html
Due: app

Fixing errant layout in favor of a flex solution that was only failing in headless electron (cypress tests)
  src/app/component/App.tsx
Due: app

A few more iPhone refinements
  src/app/component/App.tsx
Due: app

Updating package deps
  package-lock.json
  package.json
Due: none

Changes to incorporate latest @serviceslabs/material-ui-pro
  package-lock.json
  package.json
  src/app/component/App.tsx
  src/app/component/Footer.tsx
  src/app/component/Header.tsx
  src/app/component/cards/Cards.tsx
  src/app/component/dice/Dice.tsx
  src/app/component/tests/Footer.test.tsx
  src/app/component/tests/Header.test.tsx
  src/app/public/index.html
  src/app/tests/setup.ts
Due: app

Fixing integration tests
  integration/app/integration/cards.spec.ts
  integration/app/support/commands/cards.ts
  integration/app/support/commands/dice.ts
  src/app/component/cards/Cards.tsx
  src/app/component/dice/Dice.tsx
Due: app

workaround to fix unit test coverage reporting
  package.json
Due: none

using @serviceslabs/logstash-node-logger
  package-lock.json
  package.json
  src/app/types/.gitkeep
  src/server/types/gelf-stream/index.d.ts
  src/server/types/gelf-stream/package.json
  src/server/util/createLogger.ts
  src/server/util/log.ts
  src/server/util/tests/createLogger.test.ts
Due: app, server

removing vestigial dep
  package.json
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  app: any of: src/app/
  server: any of: src/server/
  shared: any of: src/shared/
